<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dan.kaftan.common">

    <application>
        <activity android:name=".DownloadCatalogActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".EditItem" />
        <activity android:name=".NotificationActivity"></activity>
    </application>

</manifest>